body,
html {
  height: 100%;
}

body {
  background-color: #f6f1f1;
  color: #146c94;

  /* background-image: url("https://images.unsplash.com/photo-1486520299386-6d106b22014b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
/* .fontstyle {
    font-family: 'Fredoka One'
} */

.navbar {
  background-color: #146c94;
  color: #f6f1f1;
}

.nav-link {
  color: #f6f1f1;
}

.headertext {
  text-shadow: 10px;
}

.addpasienbtn {
  color: #146c94;
  outline-color: #146c94;
  background-color: #afd3e2;
}
.addpasienbtn:hover {
  color: #f6f1f1;
  background-color: #19a7ce;
}

.male:checked {
  color: red;
}

.tbl {
  background-color: #afd3e2;
}

.my-custom-scrollbar {
  position: relative;
  max-height: 400px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

.bdr {
  border-radius: 10px;
}

.icon {
  color: #146c94;
}

.pasienImg {
  max-height: 250px;
  max-width: 250px;
}

.detailicon:hover {
  color: rgb(67, 67, 255);
}
.editicon:hover {
  color: rgb(207, 160, 65);
}
.deleteicon:hover {
  color: rgb(207, 64, 64);
}

.homebtn:hover {
  color: #afd3e2;
}
